<!-- <h1 class="mt-4">Dashboard</h1> -->

<p class="lead mb-3  bg-info text-white p-2 text-center pb-2"> <b>👋 Welcome Back <%= name %> </b>
</p>
<!-- <a href="/users/logout" class="btn btn-secondary">Logout</a> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-info" href="#">
      <h1>LET'S LEARN </h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3001">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5173/">LearnBot</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
  <img src="https://i.postimg.cc/MKdg1MRP/logo.jpg" alt="" srcset="" width="30%" class="text-center">
  <div class="container text-center mt-4">
    <h1 class="display-4">Welcome to Let's Learn</h1>
    <p class="lead">Notes of one, Benefit for all</p>
  </div>
</div>