<div class="bg-info  ">
  <div class="row mt-5 p-5 ">
    <div class="col-md-10 m-auto pt-5 d-flex ">
      <img src="https://imgs.search.brave.com/hoJevn25-vOOnpEoK_fHfprwiSHPUnc5tfD25DCLYGE/rs:fit:1200:980:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAwLzE4/MC8zNDUvb3JpZ2lu/YWwvZS1sZWFybmlu/Zy12ZWN0b3IucG5n" alt="" srcset="" class="img-fluid rounded" width="70%">
      <div class="card card-body text-center p-10  ">
        <img src="https://i.postimg.cc/MKdg1MRP/logo.jpg" alt="" srcset="" width="100%" class="text-center">
        <h1 class="text-secondary">LET'S LEARN </h1>
        <h6 class="text-secondary">The more you learn, the more you earn..</h6>
        <p class="mt-5">Create an account or login</p>
        <a href="/users/register" class="btn btn-success btn-block mb-2 ">Register</a>
        <a href="/users/login" class="btn btn-info btn-block">Login</a>
      </div>
    </div>
  </div>

</div>