{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <!-- <img src="{% static 'images/Learning-amico.png' %}" alt=""> -->
        <img src="https://i.postimg.cc/MKdg1MRP/logo.jpg" alt="" srcset="" width="100%" class="text-center">
    </div>

    <div class="content">
        <h3>All About Notes Sharing</h3>
        <p>Welcome to our notes sharing platform! We believe in the power of collaboration and knowledge sharing, and
            our goal is to make it easy for people to access and share notes with each other. Our platform offers a
            simple, user-friendly interface for uploading and sharing notes on a variety of subjects, from science and
            engineering to literature and history. Whether you're a student, teacher, researcher, or simply someone who
            loves to learn, you'll find a wealth of information here. </p>
        <p>Join our community of like-minded individuals today and start sharing your knowledge!</p>

    </div>

</section>
{% endblock %}